body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Mantém uma distância fixa inicial entre os botões */
    width: 100%;
    max-width: 400px;
    height: 60px;
    position: relative;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007BFF;
}

#moveButton {
    z-index: 10;
}
