body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#moveButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    transition: transform 1s;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 1s;
}
